<!-- AV2 file: Markup do rodapé com informações de contato, links e redes sociais. -->
<footer class="footer">
    <div>
        <h4>Almeida's Retreat</h4>
        <p class="footer-slogan">O conforto que vossa mercê merece</p>
        <br>
        <p>Endereço: Road 12, Peace Avenue, Ado, Ekiti</p>
        <p>Telefone: (21) 99999-9999</p>
        <p>Email: info@gmail.com</p>
    </div>
    <div>
        <h4>Links</h4>
        <a onclick="mudarTela('home')">Sobre Nós</a>
        <a onclick="mudarTela('contato')">Contato</a>
        <a onclick="mudarTela('quartos')">Quartos</a>
    </div>
    <div>
        <h4>Redes Sociais</h4>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">Snapchat</a>
    </div>
</footer>